:root {
    --surface-color: #fff;
    --curve: 40;
  }

  @font-face {
    font-family: 'handwritten'; /*a name to be used later*/
    src: url(../font/RusticRoadway.otf); /*URL to font*/
  }

  @font-face {
    font-family: 'OnceUponATime'; /*a name to be used later*/
    src: url(../font/Beyond\ Wonderland.ttf); /*URL to font*/
  }

html { scroll-behavior: smooth; }

.DataStory {
  text-align: center;
  font-family: 'OnceUponATime';
  font-size: 100px;
  color: #AB0000;
  text-shadow: 10px 10px 5px rgba(19, 19, 19, 0.409);
}

.gators{
  width: 300px;
  height: 300px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


  /* Quote https://codepen.io/jupago/pen/GPxqLX ---------------------------------------------------*/
 
  /* Blockquote main style */
  .blockquote {
      position: relative;
      /*font-family: 'Barlow Condensed', sans-serif;*/
      max-width: 900px;
      margin-top: 20px;
      margin-bottom: 50px;
      align-self: center;
      /*background-color: #292a2b;*/
  }
  
  /* Blockquote header */
  .blockquote h1 {
      /*font-family: 'Abril Fatface', cursive;*/
      position: relative; /* for pseudos */
      color: #363636;
      font-family:Lucida Sans;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      border: 2px solid #fff;
      border: solid 10px;
      border-radius:20px;
      padding: 25px;
  }
  
  /* Blockquote right double quotes */
  .blockquote h1:after {
      content:"";
      position: absolute;
      border: 10px solid #363636;
      border-radius: 0 100% 0 0;
      width: 60px;
      height: 60px;
      bottom: -62px;
      left: 50px;
      border-bottom: none;
      border-left: none;
      z-index: 3; 
  }
  
  /* increase header size after 600px */
  @media all and (min-width: 600px) {
      .blockquote h1 {
          font-size: 2rem;
          line-height: 1.2;
     }
  
  }
  
  /* Blockquote subheader */
  .blockquote h4 {
      position: relative;
      color: #363636;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 15px;
      z-index: 1;
      margin-left:150px;
      padding-left:12px;
  }
  
   
  .blockquote h4:first-letter {
    margin-left:-12px;
  }

  /* Deep dive card ---------------------------------------------------*/
  
  .hover-container {
    display:inline;
    position: relative;
    color: crimson;
    font-weight: bold;
    padding-bottom: 40px;
  }

  .hover-container:hover .card{
    display:inline;
  }

  .card {
    position: absolute;
    z-index: 1;
    display: None;
    height: 200px;
    width: 200px;
    border-radius: calc(var(--curve) * 1px);
    text-decoration: none;
    background: url("../img/DeepDive.png");
    background-size: cover;
    background-position: center;
}

.bloodCard {
    padding-top: 200px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.card:hover {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0)) , 
                url("../img/DeepDive.png");
    background-size: cover;
    background-position: center;
}

.card:hover .bloodCard {
    opacity: 1;
}

.card__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    padding: 20px;
    font-size: 1em;
    color: #fff;
}

/* PostIT ---------------------------------------------------*/

.postIT {
    margin: auto;
    flex-wrap: wrap;
    text-decoration:none;
    color:#000;
    background:url(../img/bloodyPOSTIT.png);
    background-size: cover;
    display:block;
    height:15em;
    width:30em;
    padding:0.5em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }
.titlefunfact {
    font-family:'handwritten';
    font-weight: bold;
    font-size: 2rem;
  }
  .textfunfact {
    font-weight: bold;
    margin-top: 0px;
    margin-left: 200px;
    font-family:'handwritten';
    font-size: 1rem;
  }
  .textdo {
    margin-top: 0px;
    float: right;
    font-family:'handwritten';
    font-size: 1rem;
  }
  .imgPostIt {
    float: left;
    height: 200px;
    padding: 10px;
    filter: grayscale(1) blur(0.8px) contrast(1.2) sepia(1);
    -webkit-mask: radial-gradient(#000, #0009);
  }
  
  .postIT:nth-child(even) a{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  .postIT:nth-child(3n) a{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  .postIT:nth-child(5n) a{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
  .postIT:hover,.postIT:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.7);
    position:relative;
    z-index:5;
  }

  /* Newspaper https://codepen.io/grinberg/pen/WVwaYr ---------------------------------------------------*/

  /*––––––––––––––––––Fonts Links––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700');
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap');



/*––––––––––––––––––Header of Newspaper––––––––––––––––––––*/
.header
{
    padding-top: 10px;
    background-image: url(../img/PAPER.jpeg);
}

.header__info
{
    float: left;
    margin-left: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    padding: 10px 10px;
    border: 1px solid;
    font-size: 0.5em;
}

.header__weather
{
    float: right;
    padding-right: 10px;
    width: 100px;
}

.header__weather-title
{
    margin: 0;
    text-align: center;
    font-family: Space Mono, monospace;
    font-weight: bold;
    font-size: 1em;
}

.header__weather-text
{
    margin: 0;
    text-align: justify;
    font-size: 0.4em;
    line-height: 1.1;
}

.header__title
{
    font-family: UnifrakturCook, fantasy;
    overflow: visible;
    text-align: center;
    font-size: 3em;
    margin: 0;
}


/*––––––––––––––––––Under Header of Newspaper–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-image: url(../img/PAPER.jpeg);
}

.sub-header__copyright
{
    display: inline-block;
    font-size: .4em;
    margin: 0 30px;
}

.sub-header__create-date
{
  font-size: 0.8em;
}

.sub-header__number
{
  padding-left: 10px;
  font-size: 0.8em;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Main Content––––––––––––––––*/
.content_newpaper
{
    display: flex;
    background-image: url(../img/PAPER.jpeg);
}

/*––––––––––––––––––Article Block–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Six Caps, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;
    font-style: oblique;
    font-size: .4rem;
    text-align: justify;
    text-indent: 2ex;
}

.article__author
{
    display: block;
    font-weight: bold;
    font-size: .4rem;
    text-align: center;
    margin-top: 10px;
}

.article__content {
    font-size: .6em;
    text-indent: 2ex;
    text-align: justify;
    margin: 0;
}

.article__content p {
    margin: 3px;
}

.article_columns_two .article__content {
    text-align: justify;
    font-size: 0.8em;
}

.article_columns_two .article__title
{
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 1.15em;
    text-align:center;
}

.article_columns_two .article__author {
    column-span: all;
}

.article_columns_two .article__continue {
    column-span: all;
}

.article__continue
{
    display: block;
    font-size: .8rem;
    font-style: oblique;
    text-align: center;
    padding-bottom: 10px;
}
.article__subtitle
{
    margin: 10px 0;
    font-family: Times New Roman, serif;
    font-weight: bold;
    font-size: 1.17em;
    text-align: center;
}


/*––––––––––––––––––Main Photo Block–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
    filter: sepia(75%);
}

.main-photo__title
{
    margin: 2px;
    font-weight: bold;
}

.main-photo__caption {
    font-size: .7rem;
    text-transform: uppercase;
    text-align: right;
}

.main-photo__desc
{
    margin-bottom: 20px;
    font-size: .8em;
}

/*––––––––––––––––––Horizontal Line ––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;
    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Center Columns––––––––––––––––––*/


.article__title_font_racing {
    font-family: Racing Sans One, sans-serif;
    font-size: 2em;
}

.article__title_font_farsan {
    font-family: Farsan, sans-serif;
    font-style: italic;
    font-size: 2.3em;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;
    flex-grow: 2;
}

/*––––––––––––––––––Aside Columns––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 150px;
    margin-top: 20px;
    padding: 0 10px;
    flex-shrink: 0;
    filter: blur(2.5px);
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* switch (for graphs)  https://www.w3schools.com/howto/howto_css_switch.asp ---------------------------------------------------*/

/* The switch - the box around the slider */
.switch {
    float: right;
    position:relative;
    width: 60px;
    height: 34px;
  }

  .textbox {
    float: right;
    margin-top: 15px;
    font-size: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AB0000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #00a8c2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .GraphContainer {
    display: block;
  }

  .GraphContainer .violent {
    display: block;
  }

  .GraphContainer .peaceful {
    display: none;
  }


  /* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: calc(6*30px);
  height: 50px;
  display: flex;
  color: #079f2d;
  filter: drop-shadow(30px 25px 0 currentColor) drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
  clip-path: inset(0 100% 0 0);
  animation: l13 2s infinite steps(7);
}
.loader:before {
  content: "";
  width: 30px;
  height: 25px;
  background: 
    radial-gradient(farthest-side at right,currentColor 92%,#0000) left/20px 100% no-repeat,
    radial-gradient(farthest-side,         currentColor 92%,#0000) right/17px 9px repeat-y;
}
@keyframes l13 {
  100% {clip-path: inset(0 -30px 0 0)}
}

button {
  font-family: "Merienda", cursive;
  --clr: #F9F6EF;
  --fg: #1f2020;
  border: none;
  cursor: pointer;
  color: var(--fg);
  padding: .7em 1.2em;
  font-size: 1.4rem;
  font-weight: 700;
  width: max-content;
  position: relative;
  text-align: center;
  &:before {
    --clrs1: color-mix(in lab, var(--clr), #0000 50%);
  --clrs2: color-mix(in lab, var(--clr), #0000 20%);
  --clrs3: color-mix(in lab, var(--clr), #0000 60%);
  --clrs4: color-mix(in lab, var(--clr), #0000 98%);
    position: absolute;
    content: '';
    inset: 0;
    padding: .1em;
    border: 4px double var(--clr);
    border-radius: .1em .2em / .5em .23em;
    z-index: -1;
    transition: .25s ease;
    background: //var(--fg)
      linear-gradient(178deg, 
        var(--clrs1),
        var(--clrs2) 20% 70%,
        var(--clrs3) 90%,
        var(--clrs4)) 0 0 / 100% .3rem;
    background-clip: content-box;
    
    
  }
  transition: .1s linear;
  &:active {
    translate: .05em .1em;
    filter: drop-shadow(-.1em -.1em .1em color-mix(in srgb, var(--clr), transparent 50%));;
  }
  &:active:before {
    filter: url("#squiggly-0");
  }
  &:focus {
    outline: 2px dashed color-mix(in srgb, var(--clr), transparent 90%);
    outline-offset: .5rem;
    border-radius: .25em;
  }
  filter: drop-shadow(.1em .1em .1em color-mix(in srgb, var(--clr), transparent 50%));
}
.butgreen {
  --clr: hsl(80, 97%, 41%);
  &::before{
    filter: url("#squiggly-1");
  }
  
}
.butgreen:hover {
  background-color: #00bd2f;
}
.butred{
  --clr: hsl(320 75% 75%);
  &:before {
    filter: url("#squiggly-4");
  }
}
.butred:hover {
  background-color: #d00700;
}

.butorange{
  --clr: hsl(0 75% 75%);
  &:before {
    filter: url("#squiggly-5");
  }
}

.butorange:hover {
  background-color: #e0970f;
}

/*https://codepen.io/ghaste/pen/QWPgxxO button for the playground*/
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Indie+Flower&family=Merienda:wght@300..900&display=swap')
;